<div class="container">
  <div class="jumbotron">
    <h4>Insurance Policy Details</h4>

    <table class="table table-borderless">
    <tr>
      <th>Policy No:
      </th>
      <td><%= @insurance_policy.policyno %></td>
    </tr>

    <tr>
      <th>Insurer:
      </th>
      <td><%= @insurance_policy.insurer %></td>
    </tr>

    <tr>
      <th>Policy Value:
      </th>
      <td><%= @insurance_policy.value %></td>
    </tr>

    <tr>
      <th>Insurance Type:
      </th>
      <td><%= @insurance_policy.insurance_type %></td>
    </tr>

    <tr>
      <th>Current Expiry:
      </th>
      <td><%= @insurance_policy.current_expiry %></td>
    </tr>

    <tr>
      <th>Customer Name:
      </th>
      <td><%= link_to @insurance_policy.customer.name, @insurance_policy.customer %></td>
    </tr>
  </table>
  </div>

<br />
<div class="card">
  <%= form_for(@insurance_policy) do |f| %>
  <%= f.fields_for :renewals do |renewal| %>
  <%= render "renewal_fields", :f => renewal %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "Add Insurance Renewal", f, :renewals, class: "btn btn-primary", role: "button" %>
    <%= link_to 'Edit', edit_insurance_policy_path(@insurance_policy), class: "btn btn-warning", role: "button" %>
    <%= link_to 'Back', insurance_policies_path, class: "btn btn-warning", role: "button" %>
  </div
  <% end %>
</div>


  <p>
    <% if @insurance_policy.renewals.any? %>
    <p><h4>Renewal History</h4></p>
      <ol>
        <%= render @renewals %>
        </ol>
        <% end %>
  </p>

  </div>
